{% extends 'base.html' %} 
{% load staticfiles %}

{% block title %} 生鲜首页{% endblock title %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
{% block shop_js %}

{% endblock shop_js %}
{% endblock js %} 
{% block content %}
    <div class="search_bar clearfix">
        <a href="" class="logo fl"><img src=""></a>
        <div class="search_con fl">
            <form method='get' action="/search/" target="_blank">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>

        </div>
        <div class="guest_cart fr">
            <a href="" class="cart_name fl">我的购物车</a>
            <div class="goods_count fl" id="show_count">{{ goods_num }}</div>
        </div>
    </div>

    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">全部商品分类</h1>
                <ul class="navlist fl">
                    <li><a href="{% url 'shop:index' %}">首页</a></li>
                    {% for category in category_list %}
                    <li class="interval">|</li>
                    <li><a href="{% url 'shop:categorys' category.id %}">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
        </div>
    </div>
    {% block index_content %} 
    {% endblock index_content %} 
{% endblock content %}